@media only screen and (max-width: 1024px)
 {
    .navbar-brand
    {
        margin-top:10px;
        margin-left: 5px;
        width: 150px;
    }
    .navigation .navbar ul
    {
        margin-top:40px;
    }
    .navigation .navbar
    {
        margin-right:10px;
    }
    .form-inline
    {
        margin-top:20px;
        margin-left:10px;
    }
    .navigation .nav-item
    {
        margin-left: 10px;
        margin-right : 10px;
    }
    /* Crew Page Img class */
    .crew-img
    {
        align-items: center;
    }
}
/* 
@media only screen and (max-width:400px)
 {
    .navbar-brand img
    {
        margin-top:10px;
        margin-left: 5px;
        width: 100px;
    }
 } */
  