@media only screen and (max-width: 1024px) {
    .navbar-brand {
        margin-top: 10px;
        margin-left: 5px;
        width: 150px;
    }
    .navigation .navbar ul {
        margin-top: 40px;
    }
    .navigation .navbar {
        margin-right: 10px;
        margin-top: 20px;
    }
    .form-inline {
        margin-top: 20px;
        margin-left: 10px;
    }
    .navigation .nav-item {
        margin-left: 10px;
        margin-right: 10px;
    }
    /* Crew Page Img class */
    .crew-img {
        text-align: center;
        /* width: 100%;
        height: 100%; */
    }
    /* Our story page */
    .about_us_pg {
        width: 300;
        height: 750px;
    }
    .about_us {
        width: 300px !important;
        height: auto;
        position: relative;
        margin-left: 10px;
        margin-top: 0;
    }
    .video-border {
        width: 80%;
        height: 30%;
    }
}
@media only screen and (max-width: 500px) {
    #footer li:first-child {
        margin-left: 0px;
        padding-left: 0px;
        margin-top: 30px;
    }

    /* Show reel page */
    .thumnail-content {
        height: auto;
    }

    #footer {
        padding-left: 10px;
        padding-right: 10px;
    }

    .about-us {
        width: 90%;
        margin: 0 auto;
        overflow: auto;
        height: 580px;
    }
    .crew-body {
        margin-left: 10px;
    }
    .yellow-bg,
    .contact-hero-bg.col-lg-8 {
        width: 100% !important;
        max-width: none !important;
    }
}
@media only screen and (max-width: 1025px) and (min-width: 768px) {
    .navbar-brand img {
        width: 145px;
    }
    .crew-body {
        width: 300px;
    }
    .crew-data {
        width: 300px;
    }
    #footer li:first-child
    {
        margin-left: 0px;
    }
}
