@font-face {
    font-family: AdamFont;
    src: url(../fonts/ADAM.CGPRO.otf);
    color: #231f1f;
}
@font-face {
    font-family: TTCommonBoldFont;
    src: url(../fonts/TTCommons-Bold.ttf);
}
@font-face {
    font-family: TTCommonMedFont;
    src: url(../fonts/TTCommons-Medium.ttf);
    color: #231f1f;
}
/* CSS for index */
/* Footer */
#footer {
    padding: 0;
}
#footer li {
    list-style: none;
    display: inline-block;
    font-family: AdamFont;
    margin-top: 30px;
    padding-inline-start: 0 !important;
    text-decoration: none;
    color: #9f9f9f;
    padding: 2px 10px 0 5px;
    border-right: 2px solid #9f9f9f;
    line-height: 15px;
    letter-spacing: 5px;
    padding-right: 14px;
    margin-right: 15px;
}
#footer li:first-child {
    margin-left: 0;
    padding-left: 0;
}
#footer li:last-child {
    border-right: 0;
    padding-right: 0;
    margin-right: 0;
}

/* Header */
.navigation .col-12 {
    padding: 0;
}
.navigation .navbar {
    font-family: AdamFont;
    color: #999999;
    margin-top: 50px;
    margin-bottom: 50px;
    padding-left: 0;
    padding-right: 0;
}
.navigation .nav-item {
    margin-left: 25px;
    margin-right: 25px;
}
.navigation .nav-item a {
    letter-spacing: 2px;
}
.navigation .nav-item:last-child {
    margin-right: 0;
    padding: 0;
}
#inputSearch {
    width: 200px !important;
    height: 30px;
    background-color: #cccccc;
    border-bottom-right-radius: 3px;
    border-top-right-radius: 3px;
}
.form-inline button {
    background-image: url("../images/Search_icon.png");
    background-color: black;
    margin-left: 0;
    width: 30px;
    height: 30px;
    background-repeat: no-repeat;
    background-position: center;
}
.navigation .navbar ul {
    margin-top: 40px;
}
.form-inline {
    margin-top: 40px;
}
.navbar-brand img {
    width: 225px;
}
/* CSS for Show Reel */
.thumnail-content {
    padding: 0;
    font-family: TTCommonMedFont;
    color: #231f1f;
    border-bottom: 4px solid #ffdc00;
    width: 300px;
    height: 75px;
    text-align: left;
    padding-left: 6px;
    padding-right: 10px;
}
.thumnail-content li {
    list-style: none;
    display: inline-block;
    border-right: 1px solid #231f1f;
    padding-right: 5px;
    padding-left: 5px;
    line-height: 15px;
}
.thumnail-content li:last-child {
    border-right: 0;
}
.thumbnail {
    margin-bottom: 70px;
}
.thumbnail-name a {
    text-decoration: none;
    font-family: AdamFont;
    font-size: 20px;
    color: #231f1f;
    padding-left: 10px;
}
.thumbnail-name {
    padding-top: 5px;
    padding-left: 2px;
    margin-bottom: 2px;
}
.thumbnail-body {
    margin-top: 10px;
    margin-bottom: 20px;
}
.thumbnail-body:hover {
    width: 325px;
    background-color: #ffdc00;
}
.thumbnail-header {
    width: 325px;
    background-color: #231f1f;
}
.thumbnail-title {
    font-family: AdamFont;
    color: #ffdc00;
    margin-block-start: 0;
    margin-block-end: 0;
    padding-left: 10px;
    padding-top: 10px;
}

.thumbnail-detail {
    font-family: TTCommonMedFont;
    color: #ffffff;
    margin-block-start: 0;
    margin-block-end: 0;
    padding-left: 10px;
    padding-bottom: 5px;
}
.embed-responsive {
    width: 300px;
    height: 200px;
}

/* CSS for Contact Page */
.contact-content {
    /* margin-bottom: 100px; */
}
.yellow-bg {
    background-color: #ffdc00;
    padding-top: 45px;
    padding-bottom: 20px;
    display: flex;
    align-items: flex-end;
    font-size: 15px;
}
.contact-content .address-name {
    font-family: TTCommonBoldFont;
    margin-bottom: 0;
    margin-left: 25px;
}
.contact-content .address-content {
    font-family: TTCommonMedFont;
    margin-left: 25px;
}
.contact-content .fb-logo {
    margin-left: 11px;
}
.contact-content a:hover {
    text-decoration: none;
}
.responsive {
    width: 100%;
    height: 100%;
}
#mail-jamroom {
    margin-bottom: 20px;
}
/* CSS for Crew */

.crew-nariman {
    width: 350px;
    height: 250px;
    margin-right: 16px;
}
.crew-img-rahul {
    width: 350px;
    height: 250px;
    margin-right: 16px;
    margin-left: 16px;
}
.crew-img-manju {
    width: 350px;
    height: 250px;
    margin-left: 32px;
}
.crew-img-yash {
    width: 350px;
    height: 250px;
    margin-right: 16px;
}
.crew-img-bacon {
    width: 350px;
    height: 250px;
    margin-right: 16px;
    margin-left: 16px;
}
.crew-body {
    margin-bottom: 50px;
    width: 350px;
}
.crew-role {
    font-family: TTCommonMedFont;
    color: #231f1f;
    border-bottom: 4px solid #ffdc00;
    width: 350px;
    margin-top: 0;
    padding-left: 15px;
}
.crew-name {
    font-family: AdamFont;
    font-size: 18px;
    color: #231f1f;
    margin-top: 25px;
    margin-bottom: 2px;
    padding-bottom: 0;
    padding-left: 15px;
}
.crew-data .crew-role {
    border-bottom: 0;
    padding-left: 0;
}

.crew-data .crew-name {
    margin-top: 0;
    padding-left: 0;
}
.crew-data {
    background-color: #ffdc00;
    width: 350px;
    padding: 15px;
    position: absolute;
    top: 210px;
    z-index: 1;
}

.crew-details {
    font-size: 12px;
    /* height: 300px;
    overflow: auto; */
}

/* CSS for Our story page */
#about-container {
    width: 100%;
    height: 600px;
    background-size: cover;
}
.about-us-bg {
    background-image: url("../images/about_us_bg.png");
}
.about-us-bg2 {
    background-image: url("../images/about_us_bg2.jpg");
}
.about-us-bg3 {
    background-image: url("../images/about_us_bg3.jpg");
}
.about-us-bg4 {
    background-image: url("../images/about_us_bg4.jpg");
}
.about-us {
    font-family: TTCommonMedFont;
    background-color: #ffdc00;
    width: 600px;
    height: auto;
    position: relative;
    margin-left: 80px;
    margin-top: 0;
    padding-left: 20px;
    padding-right: 20px;
    font-size: 18px;
}
/* CSS for Loader page */
.img-container {
    /* background-color: #ffdc00;  */
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    vertical-align: middle !important;
    height: 937px;
}
.loader-clock {
    height: 180px;
    width: 170px;
}
.loader-ticker img {
    position: relative;
    animation: loader-rotate 6s normal infinite;
}
/* .img-loader-ticker
{
    position: relative;
    animation: loader-rotate 6s normal infinite;
} */
@keyframes loader-rotate {
    0% {
        transform: translate(0, 0);
    }
    25% {
        transform: rotate(200px, 0px);
    }
    50% {
        transform: rotate(200px, 200px);
    }
    75% {
        transform: rotate(0px, 200px);
    }
    100% {
        transform: rotate(0, 0);
    }
}

.close {
    cursor: pointer;
    position: absolute;
    top: 15px;
    right: 0px;
    padding: 12px 16px;
    transform: translate(0%, -50%);
}

.our-story-bg {
    background-image: url("../images/about_us_bg.png");
    padding-bottom: 100px;
    background-size: cover;
}

.crew-details::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    background-color: #f5f5f5;
}

.crew-details::-webkit-scrollbar {
    width: 12px;
    background-color: #f5f5f5;
}

.crew-details::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    background-color: #555;
}

.nopadding {
    padding-left: 0 !important;
    padding-right: 0 !important;
}

.ml15 {
    margin-left: 15px;
}
.ml30 {
    margin-left: 30px;
}

.nariman .crew-data,
.yash .crew-data {
    top: 260px;
}

.rahul .crew-data,
.bacon .crew-data {
    top: 260px;
    left: 15px;
}

.manju .crew-data {
    top: 260px;
    left: 30px;
}

.thumbnail:first-child {
    padding-left: 0;
}

.thumbnail:nth-child(3n + 3) {
    padding-right: 0;
    padding-left: 80px;
}

.thumbnail:nth-child(3n + 1) {
    padding-left: 0;
}

.thumbnail:nth-child(3n + 2) {
    padding-left: 45px;
}

.contact-content .col-lg-4 {
    max-width: 29.333333%;
}

.contact-content .col-lg-8{
    width: 70%!important;
    max-width: none;
    flex: none;
}